.main,h2 {
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

.formulario {
  width: 30%;
}

.lista {
  width: 70%;
}

table {
  width: 100%;
}
input {
  border: none;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
}
